.acomodacaoCard {
  display: flex;
  flex-direction: column;

  position: relative;

  margin: 2rem 0;
  padding: 1rem;

  width: 55vw;

  border-radius: 10px;

  background: var(--gray);
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);

  transition: all 0.2s;

  cursor: pointer;
}

.acomodacaoCard:hover {
  transform: scale(102%);
  box-shadow: 2px 5px 6px 2px rgba(0, 0, 0, 0.25);
}

.acomodacaoCard h2 {
  color: var(--orange);
  font-size: 2rem;
  margin-bottom: 0.2rem;
  max-width: 80%;
}

.acomodacaoCard h3 {
  margin: 0.2rem 0 0.5rem 1rem;

  max-width: 85%;

  font-size: 1.2rem;
  font-weight: 400;
}

.acomodacaoCard span {
  position: absolute;
  margin: 0.5rem 1rem 0 0;
  right: 0;

  color: var(--text-highlight);
}
