.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  position: relative;

  height: fit-content;
  min-height: 6.5rem;

  background: var(--gray);
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.1);

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logoContainer,
.navbar > form,
.loginInfoContainer {
  flex: 1 1;
  height: fit-content;
}

.logoContainer > a {
  position: absolute;
  left: 0;
  top: 0;
}

.logoContainer > a > img {
  width: 5rem;
  padding: 0.5rem;
  margin-top: 0.7rem;
}

.navbar form {
  height: fit-content;

  display: flex;

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.userInput {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  position: relative;

  padding: 1rem 0;
}

.userInput input {
  margin: 0.2rem 0 0.8rem 0;
}

.navbar form > div {
  display: flex;
  position: relative;
  align-items: center;

  margin-right: 1.5rem;
}

.navbar form > div span {
  position: absolute;
  transform: scaleY(80%) scaleX(90%);
  margin-top: 0.3rem;
  margin-left: -2rem;

  font-size: 2rem;
  color: var(--text-highlight);

  cursor: pointer;

  transition: all 0.2s;
}

.navbar form > div span:hover {
  color: var(--red);
}

.userInput > div {
  position: relative;
}

.userInput > div > input {
  width: 30rem;
  height: 3rem;

  padding: 0.5rem;

  border-radius: 5px;
  border: none;

  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

  color: var(--text);
  text-align: center;
  font-size: 1.2rem;

  transition: all 0.3s;
}

.userInput > div > input:hover,
.userInput > div > input:focus {
  box-shadow: 0px 2px 6px 2px rgba(255, 90, 95, 0.5);
}

.searchButton {
  position: absolute;
  top: 0.3rem;
  margin-left: 0.3rem;

  background: transparent;
  border: none;
}

.searchButton > img {
  width: 2.75rem;

  cursor: pointer;

  transition: all 0.15s;
}

.searchButton > img:hover {
  /* equivalent to color: var(--red) in svgs*/
  filter: invert(39%) sepia(75%) saturate(1578%) hue-rotate(329deg) brightness(121%) contrast(117%);
}

.loginInfoContainer > a:first-child {
  position: absolute;
  top: 2.2rem;
  right: 2rem;

  padding: 0.5rem;

  border: none;
  border-radius: 10px;

  background: var(--red);
  color: var(--gray);

  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

  font-size: 1.1rem;

  transition: all 0.2s;
}

.loginInfoContainer > a:first-child {
  background: #ff333a;
}

.userInfo {
  position: absolute;

  top: 2.2rem;
  right: 2rem;

  font-size: 1.2rem;
}

.logOff {
  position: absolute;

  top: 4.8rem;
  right: 2rem;

  font-size: 0.9rem;
  color: var(--red);

  background: transparent;
  border: none;
  transition: color 0.15s;
}

.logOff:hover {
  color: var(--red-highlight);
}

.novaAcomodacao {
  position: absolute;

  top: 3.6rem;
  right: 2rem;

  font-size: 0.9rem;
  color: var(--red);

  background: transparent;
  border: none;
  transition: color 0.15s;
}

.novaAcomodacao:hover {
  color: var(--red-highlight);
}
