.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    background: var(--gray);
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.1);
}

.navbar > img {
    width: 5rem;
    padding: 0.5rem;
}

.navbar form {
    /* centralizando o input */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar input {
    width: 30rem;
    height: 3rem;

    padding: 0.5rem;

    border-radius: 5px;
    border: none;

    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

    color: var(--text);
    text-align: center;
    font-size: 1.2rem;

    transition: all 0.3s;
}

.navbar input:hover {
    box-shadow: 0px 2px 6px 2px rgba(255, 90, 95, 0.5);
}

.navbar input:focus {
    box-shadow: 0px 2px 6px 2px rgba(255, 90, 95, 0.5);
}

.navbar > button {
    /* colocando o botão de login na esquerda */
    margin-left: auto;
    margin-right: 1rem;

    padding: 0.5rem;

    border: none;
    border-radius: 10px;

    background: var(--red);
    color: var(--gray);

    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

    font-size: 1.1rem;

    transition: all 0.2s;
}

.navbar > button:hover {
    background: #ff333a;
}
