.pageContainer {
    position: relative;
    min-height: 100vh;
}

.contentWrapper {
    padding-bottom: 7.5rem; /* Footer height */

    display: flex;
    flex-direction: column;

    /* To fit nicely into the page */
    margin: 0 2rem;

    min-height: calc(100vh - 7.5rem);
}
