.navbar > input {
  display: none;
}

form {
  margin: 80px auto 0;
  margin-bottom: 100px;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 25px 25px;
  border-radius: 8px;
}
input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: 0;
}

label#thumbnail.has-thumbnail img {
  display: none;
}
fieldset {
  display: block;
  padding: 10px;
  border: 0;
}
.grupo1 input,
select {
  width: 40%;
  float: left;
  padding: 7px 10px;
  margin: 10px;
  font-size: 14px;
}

form > input[type="number"] {
  width: 50%;
  flex-wrap: wrap;
}
form > textarea {
  display: block;
  width: 100%;
  height: 120px;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.grupo2 {
  display: inline-block;
  flex-direction: row;
  margin: 0 15px;
  width: 40%;
}

.regras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  accent-color: #d24542;
}

label {
  display: block;
  color: #333;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

form > button {
  margin-left: 100px;
  align-items: center;
  height: 45px;
  border: none;
  background: #d24542;
  border-radius: 4px;
  width: 400px;
  color: #ffff;
  cursor: pointer;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: background 0.2s;
}

button:hover {
  background: #d8d1d0;
}
